{% extends "../principal/layout.html" %} 
{% load static %}
{% block title %} 
LACE | Recolección Entrega
{% endblock %} 
{% block body %}
<main>
  <h2>Recolección entrega</h2>

  <section class="sombra"> 
    <table id="sort">
      <thead>
        <tr>
          <th>Opciones</th>
          <th class="sort-head">ID Cliente</th>
          <th class="sort-head">Teléfono</th>
          <th class="sort-head">Email</th>          
          <th class="sort-head">Alcaldía/Municipio</th>
        </tr>
      </thead>
      <tbody>
        {% if object_list %} 
        {% for object in object_list %}
        <tr>
          <td>
            <div class="dropdown button-position">
              <button class="button2 ">
                <i class="material-icons">
                  <span class="material-icons-outlined"> settings </span>
                </i>
                <span class="icon-text"> Opciones </span>
              </button>

              <div class="dropdown-content" style="margin-top:10rem;margin-left: 0rem;">
                <a href="{% url 'alta_data:profile_site_detail' object.id %}">Detalles</a>
                <a href="{% url 'alta_data:profile_site_update' object.id %}">Actualizar</a>
                <a href="{% url 'alta_data:profile_site_delete' object.id %}">Eliminar</a>
              </div>
            </div>
          </td>
          <td>{{object.id_empresa}}</td>            
          <td>{{object.telefono}}</td>
          <td>{{object.email}}</td>
          <td>{{object.alcaldia_municipio}}</td>
             
        </tr>

        {% endfor%}
      </tbody>

      <!-- If objet_list is empty  -->
      {% else %}
      <p style="color: red">No tienes perfiles de contacto</p>
      {% endif %}
    </table>
    <nav style="display: flex; justify-content: center">
      <a
        href="{% url 'alta_data:profile_site-add' %}"
        class="button1 button-position"
        >Agregar perfil</a
      >
    </nav>
  </section>
</main>

{% endblock %}
<script src='{% static "js/principal/layout.js" %}'></script>